{% extends "./base.html" %}
{% block title %}Contact Us - Furniture Warehouse{% endblock %}

{% block content %}
    <h1>Contact Furniture Warehouse, We look forward to hearing from you! </h1>
    <p>Have questions or need assistance? Reach out to us through the following:</p>
    <div class="contact-info">
        <p>Email: <a href="mailto:info@furniturewarehouse.com">info@furniturewarehouse.com</a></p>
        <p>Phone: (555) 123-4567</p> <br>

        <div class="container">
            <form action="action_page.php">
          
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
          
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          
              <label for="country">Country</label>
              <select id="country" name="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
              </select>
          
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          
              <input type="submit" value="Submit">
          
            </form>
          </div> <br>

{% endblock %}
