{% extends "./base.html" %}
{% load static %}
{% block head %}
<title>Cosmos Warehouse | Home</title>
{% endblock  %}

{% block content %}
<h1>Welcome to Cosmos Furniture Warehouse</h1>
<img class="home-image" src="{% static 'main_app/img/Furnitures1.jpg' %}" alt="Warehouse Image">

<div class="featured-item">
    <h2>Featured Collection</h2>
    <p>Cosmos Furniture has quickly become one of Canada's top furniture store and appliances by selling top name brands at unbeatable warehouse pricing! Our concept is simple; buy direct from the manufacturer and sell from a warehouse environment. By purchasing direct and skipping the fancy showrooms and displays, we're able to offer our customers unbeatable pricing on brand name living room sets, mattress sets, bedroom sets, kitchen table sets, home appliances and more! Save on top brands like Ashley Furniture, Serta Mattresses, Simmons BeautyRest Mattresses, GE Appliances, Dynamic Furniture and more!

    No money? No worries! Cosmos Furniture offers several financing options, like 100% FREE Layaway with no credit checks required or On-The-Spot Financing with no interest and no payments for 1 year. Need your furniture today? No worries! Shop today and enjoy your furniture today with Same Day Delivery! Through the support and dedication of our employees and customers, Cosmos Furniture continues to grow with 33 locations across Canada. Becoming Canada's top local discount furniture store.</p>
</div>

{% endblock %}
