{% extends "./base.html" %}
{% load static %}
{% block head %}
<title>Cosmos Warehouse | Showroom</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-TM3w+ke1lrRQ0i3h79F5M7dSFyZ1HH1I6p2Rje3O18tXpHq2QwRUukA2W9caI5UJ" crossorigin="anonymous">
{% endblock  %}

{% block content %}

<div class="showroom-intro">
    <h2>Welcome to Our Furniture Showroom</h2>
    <p class="medium-text">Discover a world of comfort and style with our carefully curated collection of premium furniture. From contemporary pieces to timeless classics, our showroom offers something for every taste.</p>
    <p class="medium-text">Take a virtual tour below and explore the perfect additions to enhance the beauty of your home.</p>
</div>

<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom1.jpg' %}" alt="Cinque Terre" width="600" height="400">
    </a>
      <div class="desc">Venaldi Gunmetal 2-Piece Sectional</div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom2.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Horizone chsrming</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom3.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Lay off Gunmental</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom4.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Apata piti Couch</div>
    </div>
  </div>

    
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom5.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Dorsten Slate Sofa & Loveseat </div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom6.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Accrington Granite Sofa & Loveseat </div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom7.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Accrington Granite 2-Piece Right Sectional </div>
    </div>
  </div>

    
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom8.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Accrington Granite 3-Piece Right Sectional </div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom9.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc"> Granite 2-Piece Right Sectional </div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom10.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Family Dinning </div>
    </div>
  </div>

    
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom11.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc"> Bronze 5-Piece Dinette Set </div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom12.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Sleep away Lamp</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom13.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Ashley button Lamp</div>
    </div>
  </div>

    
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom14.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Horizontal floatformat Lamp</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom15.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Cean washer and dryer</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="">
        <img src="{% static 'main_app/img/showroom/showroom16.jpg' %}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">GE Stainless Steel 21 Cubic Foot Refrigerator</div>
    </div>
  </div>

  <a href="#" class="btn btn-dark btn-lg mt-3">Explore More</a>

  <div class="clearfix"></div>
  
  <div style="padding: 6px;">
    <p>Explore our stunning furniture collection, thoughtfully curated to bring comfort and style to your home. From sleek sectionals to modern living room setups, our showroom showcases a diverse range of furniture options. Discover the perfect pieces to elevate your home's aesthetic.</p>
    <p>Visit our showroom to experience firsthand the quality and craftsmanship of our furniture. Each piece is designed to blend seamlessly into your space, creating a harmonious and inviting atmosphere.</p>
    <p>Immerse yourself in the world of premium furniture at our showroom. For inquiries or assistance, feel free to contact our friendly team. We look forward to helping you transform your living spaces with our exceptional furniture collection.</p>
</div>

{% endblock %}
